<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zp.course">

    <application
        android:name=".app.CourseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.sign.LoginActivity"
            android:label="@string/label_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.sign.RegisterActivity"
            android:label="@string/label_register"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/label_my_course"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.course.CourseAddOrUpdateActivity"
            android:label="@string/label_course_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".ui.course.CourseInfoAddOrUpdateActivity"
            android:label="@string/label_course_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".ui.timetable.TimetableActivity"
            android:label="@string/label_timetable"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.timetable.TimetableAddOrUpdateActivity"
            android:label="@string/label_timetable_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

    </application>
</manifest>
